// Colors
$recipe-color-white: #ffffff;
$recipe-color-red: #d12420;
$recipe-color-gray: #63666a;
$recipe-color-white-gray: #e8e8e8;
$recipe-color-black: #000;

//Letters Spacing
$recipe-letter-spacing: 0.5rem;